@tailwind base;
@tailwind components;
@tailwind utilities;

.print-only {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: flex !important;
  }
}

body {
  background-color: #f3f4f6;
}
